/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.clear {
  clear: both;
}

html {
  background: #eee;
}

h1, img {
  float: left;
  margin: auto 0;
  width: 49%;
}

fieldset {
  border: 6px solid #DFDFDF;
  margin: 0;
  padding: 0;
}

div.main {
  width: 1000px;
  margin: 0 auto;
}


/* Header */
div.login header.content {
  background: #DFDFDF;
  border: 1px #B3B3B3 solid;
  margin-top: 15%;
  margin-bottom: 6px;
  border-radius: 4px;
}

div.main header div.logo {
  float: left;
  font-size: 250%;
  margin-top: 10px;
}
div.main header div.datos {
  float: right;
  text-align: right;
}
div.main header p {
  font-size: 120%;
  margin-bottom: 0em;
}
div.main header a {
  font-size: 80%;
  text-decoration: none;
}


/* Menu */
div.main nav ul {
  background: #ccc;
  border: 1px solid #aaa;
  list-style-type: none;
}
div.main nav ul li {
  float: left;
  margin: 0 3%;
}
div.main nav ul li a {
  text-decoration: none;
}
div.main nav ul li a:hover {
  background-color: grey;
}


/* Login */
div.login .content {
  color: #505050;
  margin: 0 auto;
  max-width: 400px;
  min-width: 200px;
  text-align: center;
  width: 50%;
}

section.content form.form-login {
  background: #ddd;
  border: 1px #B3B3B3 solid;
  border-radius: 3px 3px 0 3px;
  box-shadow: 0 0 10px #B7B7B7;
  margin: 0;
  padding: 0;
}

div.login fieldset div.logon-field {
  margin-top: 20px;
  margin-bottom: 20px;
}
div.login div.logon-field div.input-content {
  background: #FFF;
  border: 1px solid #DFDFDF;
  margin: auto;
  margin-bottom: 2px;
  min-width: 184px;
  width: 75%;
}
div.login div.input-content div.login-icon {
  background: #FDFDFD;
  float: left;
  height: 32px;
  width: 32px;
  border-collapse: 
}
div.login div.input-content input#login,
div.login div.input-content input#password {
  border: none;
  float: left;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  height: 30px;
  padding: 0 5px;
  margin: 2px 2px 2px 0px;
  color: #505050;
  width: 76%;
}
div.login div.input-content input:focus {
  background: #FEFFFF;
  border-color: #E4FBFF;
  box-shadow: inset 0 1px 5px #FEFFE7,
                    0 1px #FDFFD2;
  outline: none;/*quita el molesto borde anaranjado*/
}
div.login input.button-signUI {
  background: #DFDFDF;
  border: 1px #B3B3B3 solid;
  color: #505050;
  font-family: Helvetica;
  float: right;
}
div.login input#signIn {
  border-top: none;
  border-radius: 0 0 3px 3px;
  font-size: 13px;
  font-weight: bolder;
  height: 30px;
  margin: 0;
  padding: 0 20px;
  position: relative;
  right: -1px;
}
div.login input#signUp {
  border-radius: 3px;
  box-shadow: 0 0 7px #B7B7B7;
  font-size: 14px;
  height: 28px;
  padding: 0 10px;
  margin: 2px;
}
div.login input#forgotPassword {
  background: #6D6D6D;
  border: 1px #5A5A5A solid;
  border-radius: 4px;
  box-shadow: 0 0 7px #B7B7B7;
  color: #FFF;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bolder;
  float: left;
  height: 26px;
  margin-top: 4px;
  padding: 0 8px;
}
div.login input#forgotPassword:hover {
  height: 32px;
  padding-bottom: 6px;
}
div.login input#forgotPassword:active {
  background: #4D4D4D;
  box-shadow: inset 0 1px 5px #4E4E4E;
}
div.login input#signUp:hover,
div.login input#signIn:hover {
  height: 36px;
  padding-bottom: 6px;
}
div.login input#signIn:active,
div.login input#signUp:active {
  background: #8E8E8E;
  color: #FFF;
}

/* Article */
div.main article {
  width: 60%;
  margin: 0 auto;
}

div.main article table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}
div.main article table thead tr {
  border: 1px solid black;
  background: #ccc;
}
div.main article table tbody td {
  border: 1px solid black;
  text-align: center;
}


/* Footer */
div.login footer {
  bottom: 0;
  box-shadow: 0 0 30px #B7B7B7,
              0 0 60px #B0B0B0 inset;
  margin: 0 auto;
  position: fixed;
  width: 100%;
}

div.main footer {
  border: 1px solid #aaa;
  background: #ddd;
  text-align: center;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
